/*Tipografia general*/
body {
  background-color: #111; 
  color: white; 
  font-family: 'Poppins', sans-serif;
}
/*Inicio*/
.Inicio {
  min-height: 50vh;
  padding-top: 0px;
  background-image: url(Pulpo.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  backdrop-filter: blur(6px);
}
